.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

.menuLink {
  display: inline-flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  gap: 0.4rem;
  border-radius: 0.8rem;
  padding: 0.8rem;
  background-color: var(--primary);
  color: var(--text-over-primary);
}

.menuLink svg {
  height: 3.2rem;
  width: 3.2rem;
}

.menuLink:hover {
  filter: brightness(70%);
  transition: ease-in-out 0.2s;
}
