.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  padding-top: 3.2rem;
}

.logoLink {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  font-size: 4.2rem;
  font-weight: bold;
  color: var(--primary);
}

.logoLink svg {
  height: 6.4rem;
  width: 6.4rem;
}

.logoLink:hover {
  filter: brightness(70%);
  transition: ease-in-out 0.2s;
}
