.input {
  background-color: transparent;
  border: none;
  text-align: center;
  font-size: 1.8rem;
  padding: 0.8rem;

  /* border: 0.2rem solid var(--primary); */
  border: 0.2rem solid transparent;
  border-bottom: 0.2rem solid var(--primary);
  color: var(--text-default);
  outline: none;
}

.input::placeholder {
  color: var(--gray-500);
  font-size: 1.4rem;
  font-style: italic;
}

.input:focus {
  transition: all 0.2s ease-in-out;
  border: 0.2rem solid var(--primary);
  border-radius: 0.8rem;
}

.input:disabled {
  cursor: not-allowed;
  border-bottom: 0.2rem solid var(--disabled);
  color: var(--text-muted);
}
